<app-header></app-header>
<div class="fullscreen">
    <div class="card-container">

      <mat-card class="card pixel-font fadeIn" *ngFor="let pokemon of pokemons; let i=index">
        <mat-card-title class="title-card">{{pokemon.name}}</mat-card-title>
        <mat-card-content>
          <p>lvl: {{pokemon.lvl}}</p>
          <p>type: No se encuentran tipos</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="warn" class="pokemon-pixel">Ver</button>
        </mat-card-actions>
      </mat-card>  
          
    </div>
</div>