/* ---------------------- GENERAL ---------------------- */

.fullscreen{
    background-color: #DFDFDF;
    display: flex;
    width: 100%;
    height: 100%;
}

/* ---------------------- DECK CARD ---------------------- */

.card-container {
    display : flex;
    flex-direction : row;
    justify-content : space-around;
    flex-flow : wrap;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.title-card{
    font-weight: bold;
    font-size: 25px;
}

.card {
    max-width: 280px;
    border-radius: 10%;
    border-color: darkgray;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    text-justify: auto;
    margin-left: 1%;
    margin-bottom: 1%;
    padding: 1%;
    width: 250px;
    font-size: 100%;
    background: linear-gradient(to top, white 0%, white 70%, #FF3131 35%, #FF3131 100%);
    padding-bottom: 3%;
}

@media(max-width: 500px){
  .card{
    width: 250px;
  }
}