
<div class="center-container">
    <img src="../../../assets/logo-pokedex.png" class="logo fadeInDown">

    <div class="wrapper fadeInDown">
        <div id="formContent">
      
          <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
            <input type="text" id="login" class="fadeIn first textholder" placeholder="Username" formControlName="username">
            <input type="password" id="password" class="fadeIn second textholder" placeholder="Password" formControlName="password">
            <input type="submit" class="fadeIn third textholder" value="Log In">
          </form>
      
        </div>
      </div>

</div>