
<div class="center-container">
    <img src="../../../assets/logo-pokedex.png" class="logo fadeInDown">

    <div class="wrapper fadeInDown">
        <div id="formContent">
      
          <form>
            <input type="text" id="login" class="fadeIn first" name="login" placeholder="Username">
            <input type="text" id="password" class="fadeIn second" name="login" placeholder="Password">
            <input type="submit" class="fadeIn third" value="Log In">
          </form>
      
        </div>
      </div>

</div>